/* style css */

/* --- 기본 테크 --- */

a {
    color: black;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 45px;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

body {
    margin: 0px;
}


/* --- 클라스 테그 --- */

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    & ol  {
        border-right: 1px gray solid;
        margin: 0px;
        padding: 20px;
        padding-left: 40px;
    } 
}


/* --- ID 테그 --- */

header {
    border-bottom: 1px gray solid;
}

nav {

}

main {
    padding: 20px;
}
